:root {
  --dark-primary: #212121;
  --dark-secondary: #191919;
}

/* Navigation Section */
nav {
  padding-top: 22px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  background-color: var(--dark-secondary);
  box-shadow: 1px 2px 4px 0 rgb(212, 187, 147),
    -1px 2px 2px 0.5px rgb(255, 238, 214);
  font-family: 'Montserrat', sans-serif;
}

.navbar .site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;
}

.sound-toggle {
  color: #eee0c9;
  cursor: pointer;
  font-size: 20px;
}

.sound-toggle:hover {
  color: #fff;
}

.navbar h1,
.navbar a {
  color: #eee0c9;
  text-decoration: none;
  font-size: 20px;
}

.navbar h1 span:hover,
.navbar a:hover {
  color: #fff;
}

.popup-menu, .about-game {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px 10px 0 0;
}

.popup-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: #eee0c9;
  padding: 2rem 3rem;
  line-height: 32px;
}

.about-game__content {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: #ffff;
  padding: 2rem 3rem;
  line-height: 32px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.section-1 h2,
.section-2 h2 {
  color: #eee0c9;
  margin-bottom: 0;
}

strong {
  color: #eee0c9;
}

kbd {
  border: 1px solid #9fa6ad;
  box-shadow: 0 1px 1px rgba(12, 13, 14, 0.15), inset 0 1px 0 0 #fff;
  background-color: #e3e6e8;
  border-radius: 4px;
  color: #232629;
  display: inline-block;
  line-height: 1.5;
  margin: 0 0.1em;
  overflow-wrap: break-word;
  padding: 0.1em 0.5em;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

kbd:hover,
kbd:hover * {
  background: #ccc;
}
kbd:active,
kbd:active * {
  box-shadow: 1px 1px 0 #ddd inset;
}

.close-icon {
  text-align: center;
  position: absolute;
  top: 8px;
  right: 12px;
  color: #bf3131;
  cursor: pointer;
}
.close-icon:hover {
  color: #b80000;
}

/* Footer Section */
footer {
  margin-top: auto;
}

.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-secondary);
  color: #eee0c9;
  width: 100%;
  padding: 18px 0;
  box-shadow: 0 -2px 4px 0 rgb(212, 187, 147), 0 -2px 0.5px rgb(255, 238, 214);
}

.site-footer p {
  font-family: 'Poppins', sans-serif;
  font-size: small;
  font-weight: 400;
}

@media only screen and (max-width: 340px) {
  .navbar {
    padding: 0 20px;
    width: 75%;
  }
}
